body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 205, 205);
}

.table-container1 {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: center;
    width: 100px; 
}

@media (max-width: 768px) {
    .table-container2 table th:nth-child(4),
    .table-container2 table td:nth-child(4),
    .table-container2 table th:nth-child(5),
    .table-container2 table td:nth-child(5),
    .table-container2 table th:nth-child(6),
    .table-container2 table td:nth-child(6),
    .table-container2 table th:nth-child(7),
    .table-container2 table td:nth-child(7),
    .table-container2 table th:nth-child(8),
    .table-container2 table td:nth-child(8),
    .table-container2 table th:nth-child(9),
    .table-container2 table td:nth-child(9),
    .table-container2 table th:nth-child(10),
    .table-container2 table td:nth-child(10) {
        display: none;
    }
}